/.idea
/.vscode
/__pycache__
/allfileshas.txt
/build
/data
/depths
/dist
/draw_depth.py
/draw_post.py
/kitti.sh
/encode.py
/gauss_psf_cuda.egg-info
/make3d
/nyu2_data
/nyu_depth
/outputs
/output_images
/posterior_distribution.png
/preworks
/test.png